<nav class="container-fluid header--navigation" aria-label="main navigation">
  <div class="container">
    <ul class="nav--primary">
      <li>
        <a href="/"{% if page.url == '/' %} class="is-current"{% endif %}>
          Home
        </a>
      </li>
      <li>
        <a href="/speakers/"{% if page.url == '/speakers/' %} class="is-current"{% endif %}>
          Speakers
        </a>
      </li>
      <li>
        <a href="/sponsors/"{% if page.url == '/sponsors/' %} class="is-current"{% endif %}>
          Sponsors
        </a>
      </li>
    </ul>
  </div>
</nav>
