// These icons are setup to sit inside something like a <span>.
// Only use currently is in the footer, with the anchor sitting inside the span.

.icon {
	margin-right: $line-half;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;

	> a {
		margin-left: 24px !important;
	}
}

.icon--twatter {
	background-image: svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
		<rect fill="#1da1f3" height="512" rx="15%" width="512"/>
		<path d="M456 133c-14 7-31 11-47 13 17-10 30-27 37-46-15 10-34 16-52 20-61-62-157-7-141 75-68-3-129-35-169-85-22 37-11 86 26 109-13 0-26-4-37-9 0 39 28 72 65 80-12 3-25 4-37 2 10 33 41 57 77 57-42 30-77 38-122 34 170 111 378-32 359-208 16-11 30-25 41-42z" fill="#fff"/>
		</svg>');
}

.icon--stasibook {
	background-image: svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
		<rect fill="#3b5998" height="512" rx="15%" width="512"/>
		<path d="M287 456V274h61l9-72h-70v-45c0-21 6-35 35-35h38V59c-7-1-29-3-55-3-54 0-91 33-91 94v52h-62v72h62v182z" fill="#fff"/>
		</svg>');
}

.icon--youtube {
	background-image: svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
		<path d="M31.681 9.6c0 0-0.313-2.206-1.275-3.175-1.219-1.275-2.581-1.281-3.206-1.356-4.475-0.325-11.194-0.325-11.194-0.325h-0.012c0 0-6.719 0-11.194 0.325-0.625 0.075-1.987 0.081-3.206 1.356-0.963 0.969-1.269 3.175-1.269 3.175s-0.319 2.588-0.319 5.181v2.425c0 2.587 0.319 5.181 0.319 5.181s0.313 2.206 1.269 3.175c1.219 1.275 2.819 1.231 3.531 1.369 2.563 0.244 10.881 0.319 10.881 0.319s6.725-0.012 11.2-0.331c0.625-0.075 1.988-0.081 3.206-1.356 0.962-0.969 1.275-3.175 1.275-3.175s0.319-2.587 0.319-5.181v-2.425c-0.006-2.588-0.325-5.181-0.325-5.181zM12.694 20.15v-8.994l8.644 4.513-8.644 4.481z"/>
		</svg>');
}
