// Sponsorship org name headings hidden for visual neatness
h3#sponsor,
h3#insomnia{
  @include sr-only;
}

.logo {
  display: block;
  margin: 0;
  margin-top: $line-double;
  padding: 0;
  border-bottom: none;

  &:active,
  &:focus,
  &:hover {
    background-color: white;
    border-bottom: none;
  }
}
