// Sponsorship org name headings hidden for visual neatness
h3#sponsor,
h3#aura,
h3#tss,
h3#privasec,
h3#insomnia,
h3#tml,
h3#assurance,
h3#bugcrowd,
h3#southord,
h3#sparrows-lock-picks,
h3#loop-secure{
  @include sr-only;
}

.logo {
  display: block;
  margin: 0;
  margin-top: $line-double;
  padding: 0;
  border-bottom: none;

  &:active,
  &:focus,
  &:hover {
    background-color: white;
    border-bottom: none;
  }
}
